

<script type="text/javascript">
  window.onload = function() {
    for (let i = 0; i < timeList.length; i++) {
      const time =  timeList[i].innerHTML
      const sliceLength = time.split(" ",4).length
      {{!-- Tue Mar 29 2022 20:41:06 GMT+0700 (Indochina Time) --}}
      timeList[i].innerHTML = time.slice(0,24);
    }
  }
  
</script> 

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/product">
              <i class="bi bi-circle"></i><span>Products</span>
            </a>
          </li>
          <li>
            <a href="/distributor">
              <i class="bi bi-circle"></i><span>Distributors</span>
            </a>
          </li>
          <li>
            <a href="/recycle">
              <i class="bi bi-circle"></i><span>Recycles</span>
            </a>
          </li>
          
        </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/account-list">
        <i class="bi bi-person-circle"></i>
        <span>Account List</span>
      </a>
    </li><!-- End Account List Nav -->
    

    <li class="nav-item">
      <a class="nav-link collapsed" href="/customer-order">
        <i class="bi bi-cart2"></i>
        <span>Customer's Orders</span>
      </a>
    </li><!-- End Customer's Orders Nav -->

    <li class="nav-heading">Pages</li>


    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-login.hbs">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Logout</span>
      </a>
    </li><!-- End Login Page Nav -->

  </ul>

</aside><!-- End Sidebar-->



<main id="main" class="main">

  <div class="pagetitle">
    <h1>Account List</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Account List</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <section class="py-0 ux-section bg-light">
                <div class="container mt-5 mb-5">
                  <div class="row d-flex align-items-center justify-content-content">
                      <h1 class="display-4 fw-bold mb-5 text-center">Account User List</h1>
                      
                      <!-- List User Account: Start -->
                      <div class="col-12">
                        <div class="card top-selling overflow-auto">

                          <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                              <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                              </li>

                              <li><a class="dropdown-item" href="#">Today</a></li>
                              <li><a class="dropdown-item" href="#">Name</a></li>
                              <li><a class="dropdown-item" href="#">Email</a></li>
                            </ul>
                          </div>

                          <div class="card-body pb-0">
                            <h5 class="card-title">User List <span>| Today</span></h5>

                            <table class="table table-borderless">
                              <thead>
                                <tr>
                                  <th scope="col">Image</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Phone Number</th>
                                  <th scope="col">Bought</th>
                                  <th scope="col">Create At</th>
                                </tr>
                              </thead>
                              <tbody>
                                {{#each accountList}}
                                <tr>
                                  <th scope="row"><a href="#"><img src="../images/D.jpg" alt=""></a></th>
                                  <td>{{account}}</td>
                                  <td>{{phone_number}}</td>
                                  <td class="fw-bold">{{number_product}}</td>
                                  <td class="date-time-createAt">{{createdAt}}</td>
                                </tr>
                                {{/each}}
                              </tbody>
                            </table>

                          </div>

                        </div>
                      </div><!-- List User Account: End -->                       
                </div>
              </section>                             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.min.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>